Description=CouchPotato
After=syslog.target network.target

[Service]
Type=forking
KillMode=control-group
User=%I
Group=%I
ExecStart=/usr/bin/python /home/%I/couchpotato/CouchPotato.py --daemon --data_dir="/home/%I/.couchpotato/" --config_file="/home/%I/.couchpotato/settings.conf"
GuessMainPID=no
ExecStop=-/bin/kill -HUP


[Install]
WantedBy=multi-user.target
