Description=Systemd script to run PlexRequests as a service
After=network-online.target

[Service]
User=USER
Group=USER
Type=forking
ExecStart=/usr/bin/screen -f -a -d -m -S plexrequests mono /opt/plexrequests/Ombi.exe -p 3000 --base plexrequests
ExecStop=-/bin/kill -HUP
WorkingDirectory=/home/USER/

[Install]
WantedBy=multi-user.target
