#------------------------------------------------------------------------------#
#                            OFFICIAL DEBIAN REPOS                             #
#------------------------------------------------------------------------------#

###### Debian Update Repos
deb http://ftp.de.debian.org/debian/ VERSION main contrib non-free
deb-src http://ftp.de.debian.org/debian/ VERSION main contrib non-free
deb http://security.debian.org/ VERSION/updates main contrib non-free
deb-src http://security.debian.org/ VERSION/updates main contrib non-free
deb http://ftp.de.debian.org/debian/ VERSION-updates main contrib non-free
deb-src http://ftp.de.debian.org/debian/ VERSION-updates main contrib non-free
deb http://ftp.de.debian.org/debian VERSION-backports main contrib non-free
deb-src http://ftp.de.debian.org/debian VERSION-backports main contrib non-free

deb http://ftp.debian.org/debian/ VERSION-updates main contrib non-free
deb-src http://ftp.debian.org/debian/ VERSION-updates main contrib non-free

#Third Parties Repos -- updated
# Deb Multimedia
deb http://www.deb-multimedia.org VERSION main non-free
deb-src http://www.deb-multimedia.org VERSION main non-free
